$theme: #41b883;
$foreground: #000;

$theme-light-bg: #fff;
$theme-light-fg: #333;
$theme-light-body: #f6f7f8;

$theme-dark-bg: #282a36;
$theme-dark-fg: #bd93f9;
$theme-dark-body: #44475a;

$theme-nature-bg: #41b883;
$theme-nature-fg: #333;
$theme-nature-body: #f6f7f8;
