$theme: #41b883;
$foreground: #000;

$theme-light-bg: #fff;
$theme-light-fg: #333;
$theme-light-body: #f6f7f8;

$theme-dark-bg: #333;
$theme-dark-fg: #FFF;
$theme-dark-body: lighten($theme-dark-bg, 15%);

$theme-nature-bg: #41b883;
$theme-nature-fg: #333;
$theme-nature-body: #f6f7f8;
