@import './variables';

.header {
  height: 60px;
  color: $foreground;

  &__sticky{
    position: fixed; top: 0; right: 0; left: 0;
    z-index: 10;
    display: table;
    margin: 0;
    height: 60px;
    background: $theme;
    text-align: center;
    color: $foreground;
    width: 100%;
  }

  &__content {
    text-align: center;
    display: table-cell;
    vertical-align: middle;

    h1{
      font-size: 1.5rem;
    }
  }

  &__brand{
    width: auto;
    height: 50px;
  }

  &__nav {
    color: $foreground;
    display: table-cell;
    vertical-align: middle;
    &:first-child{
      color: $foreground;
      text-align: left;
      padding-left: 15px;
      width: 50px;
    }
    &:last-child{
      color: $foreground;
      text-align: right;
      padding-right: 15px;
      width: 50px;
    }
  }
  &__hamburger {
    background: none;
    border: none;
    padding: 0;
    outline: none;
    color: $foreground;
    font-size: 30px;
  }
  &__title {
    color: $foreground;
    text-decoration: none;
  }
}
