.search{
  display: block;
  text-align: center;
  width: 90%;
  margin: 1em auto;

  input{
    -webkit-appearance: none;
    width: 100%;
    padding: 1rem;
    outline: none;
    background-color: #fff;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid var(--text-color);
  }

  &__title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    margin-top: 1em;
    margin-bottom: .5em;
  }
  &__result {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    a {
      text-decoration: none;
      background-color: var(--text-color);
      color: #000;
      border-radius: .25em;
      margin: 1em 1em 0 0;
      padding: 1.5em;
    }
  }
}
