@import './variables';

.sidebar {
  position: fixed; top: 0; bottom: 0; left: 0;
  overflow: hidden;
  width: 70%;
  height: 40em;
  height: 100vh;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 20;
  transform: translateX(-100%);
  -webkit-transition: transform 300ms;
     -moz-transition: transform 300ms;
       -o-transition: transform 300ms;
          transition: transform 300ms;
  &--open {
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  &__head {
    height: 60px;
    img {
      height: 50px;
      margin: 5px 0 0 15px;
      border-radius: .25em;
    }
  }
  &__content {
    position: absolute;
    top: 0; right: 0; ; bottom: 0; left: 0;
    z-index: 1;
    overflow: auto;
    background: #fff;
  }
  &__menu {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__link {
    display: block;
    color: $foreground;
    text-decoration: none;
    padding: 15px 25px;
    font-size: 16px;
    display: flex;
    align-items: center;

    /deep/ svg {
      margin-right: .5em;
    }
  }
}
