@import './variables';

/* THEME LIGHT -- start*/
.light{
  --text-color: $theme-light-fg;
  --link-color: $theme-light-fg;
  --bg-color: $theme-light-bg;
  --bg-body-color: $theme-light-body;
}
/* THEME LIGHT -- end*/

/* THEME DARK -- start*/
.dark{
  --text-color: $theme-dark-fg;
  --link-color: $theme-dark-fg;
  --bg-color: $theme-dark-bg;
  --bg-body-color: $theme-dark-body;
}
/* THEME DARK -- end*/


/* THEME NATURE -- start*/
.nature{
  --text-color: $theme-nature-fg;
  --link-color: $theme-nature-fg;
  --bg-color: $theme-nature-bg;
  --bg-body-color: $theme-nature-body;
}
/* THEME NATURE -- end*/


.header__sticky, .item__link, .sidebar__head, .block_content, .surah_nav, .asmaul-husna .item, .daily-doa .item {
  background: var(--bg-color);
  color: var(--text-color);
}

.header__title, .header__hamburger, .header__nav, .surah_nav_item, .arrowtotop a{
  color: var(--text-color);
}
.tag_index, .daily-doa .collapsible{
  background: darken($theme-light-bg, 10%);
  color: var(--text-color);
}
.surah svg {
  fill: var(--text-color);
}
.search input, .select {
  color: var(--bg-color);
  border: 1px solid var(--text-color);
}
