@import "tailwindcss";

@theme {
  --color-primary: white;
  --color-secondary: #F3F4F6;
  --color-foreground: #000;
  --color-foreground-secondary: #9ca3af;
}

/* Dark theme */
html.dark {
  --color-primary: #142C66;
  --color-secondary: #0a1d3d;
  --color-foreground: white;
  --color-foreground-secondary: #d1d5db;
}

/* Forest theme */
html.forest {
  --color-primary: #016A70;
  --color-secondary: #014c4f;
  --color-foreground: #D0E7D2;
  --color-foreground-secondary: #d1d5db;
}

/* Pinky theme */
html.pinky {
  --color-primary: #FF597B;
  --color-secondary: #FF8E9E;
  --color-foreground: #1f2937;
  --color-foreground-secondary: #ffd6e6;
}

/* Halloween theme */
html.halloween {
  --color-primary: #662549;
  --color-secondary: #451952;
  --color-foreground: #F39F5A;
  --color-foreground-secondary: #ff718e;
}

@font-face {
	font-family: 'lpmq';
	src: url(/fonts/lpmq.otf) format('opentype');
	font-display: swap;
}

.font-arabic {
	font-family: 'lpmq', 'Traditional Arabic', Arial, sans-serif;
	line-height: 2;
}

.table-stripped {
	@apply w-full text-sm text-left;
}

.table-stripped > thead {
	@apply uppercase bg-secondary font-extrabold;
}

.table-stripped > thead > tr > th {
	@apply px-6 py-3;
}

.table-stripped > tbody > tr:not(:last-child) {
	@apply border-b;
}

.table-stripped > tbody > tr:nth-child(even) {
	@apply bg-secondary;
}

.table-stripped > tbody > tr:nth-child(odd) {
	@apply bg-primary;
}

.table-stripped > tbody > tr > td {
	@apply px-6 py-3 align-top;
}
